<%- model_class = Item.new.class -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Quantity</th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |fridge_item| %>
      <% item = fridge_item.item %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= fridge_item.quantity %>
        <td><%= number_to_currency(item.price) %></td>
        <td><%=l item.created_at %></td>
        <td>
          <%= link_to "Edit / TODO",
                      "#", :class => 'btn btn-mini' %>
          <%= link_to "Remove",
                      [@fridge, fridge_item],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
